@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #ffffff;
  --border: #333333;
  --background: #000000;
  --background-100: #333333;
  --background-200: #262626;
  --background-300: #1A1A1A;
  --background-400: #0D0D0D;
  --brand: #246EB9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-outfit);
  line-height: 130%;
}

p, span, a{
  font-family: var(--font-inter);
  line-height: 150%;
}

section {
  margin-bottom: 100px;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  width: 100%;
}
.embla__slide {
  flex: 0 0 30%;
  min-width: 0;
}

@media screen and (min-width: 640px) {
  .embla__slide {
    flex: 0 0 20%;
  }
}


@layer base {
  .heading-1 {
    @apply text-[3.813rem] text-text;
  }
  .heading-1-bold {
    @apply text-[3.813rem] text-text font-bold;
  }
  .heading-2 {
    @apply text-[3.063rem] text-text;
  }
  .heading-2-bold {
    @apply text-[3.063rem] text-text font-bold;
  }
  .heading-3 {
    @apply text-[2.438rem] text-text;
  }
  .heading-3-bold {
    @apply text-[2.438rem] text-text font-bold;
  }
  .heading-4 {
    @apply text-[1.938rem] text-text;
  }
  .heading-4-bold {
    @apply text-[1.938rem] text-text font-bold;
  }
  .heading-5 {
    @apply text-[1.563rem] text-text;
  }
  .heading-5-bold {
    @apply text-[1.563rem] text-text font-bold;
  }
  .heading-6 {
    @apply text-[1.25rem] text-text;
  }
  .heading-6-bold {
    @apply text-[1.25rem] text-text font-bold;
  }
  .paragraph {
    @apply text-[1rem] text-neutral-300 break-all;
  }
  .small {
    @apply text-[0.813rem] text-text;
  }
  .caption {
    @apply text-[0.625rem] text-text;
  }
  :root {
    --radius: 0.5rem;
  }
}
@layer base {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .glass-effect {
    @apply bg-black/60 backdrop-blur-2xl;
  }
  .radial-grid {
    @apply bg-[radial-gradient(circle,_#246EB9_1px,_transparent_1px)] bg-[length:20px_20px];
  }
  .layout-padding {
    @apply p-5 px-[20px] md:px-[50px] lg:px-[90px];
  }
  .text-metallic-effect {
    @apply bg-gradient-to-br bg-clip-text text-transparent from-[rgba(255,255,255,1)] to-[rgba(168,169,173,1)];
  }
}
@layer base {
  .header {
    @apply glass-effect flex-center fixed top-0 w-full h-[60px] md:h-[80px] shadow-md border-b border-border;
  }
  .inner-header {
    @apply layout-padding flex w-full h-full max-w-screen-2xl mx-auto justify-between;
  }
  .nav {
    @apply text-text;
  }
  .nav-link {
    @apply paragraph text-text hover:underline;
  }
  .nav-link_active {
    @apply underline;
  }
  .hero {
    @apply flex justify-center items-center w-full h-[720px];
  }
  .certifications {
    @apply flex flex-col w-full items-center justify-center gap-5 py-5 max-h-[200px];
  }
  .section_sub-heading {
    @apply heading-6-bold uppercase text-brand;
  }
  .section_heading {
    @apply heading-4-bold md:heading-3-bold;
  }
  .section_paragraph {
    @apply paragraph;
  }
  .section {
    @apply flex flex-col text-center break-words;
  }
}